/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONT */
body {
  font-family: Arial, sans-serif;
}

/* UTILITY */
[v-cloak] {
  display: none;
}

.align-center {
  align-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.mb-10 {
  margin-bottom: 14px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 25px;
}

.pr-5 {
  padding-right: 5px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-12 {
  font-size: 12px;
}

.line-through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}
